<h1>Sessions#new</h1>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
