<h1><%= @checklist.name %></h1>


<!-- <%= @response.answers_hash.to_a %> -->


<%= form_for @response do |f| %>
    
<% priorities = ['Required', 'Strongly Recommended', 'Recommended'] %>
   
<% priorities.each do |p| %>

<h2> <%= p %></h2>
<% @checklist.questions.where(priority: p).each do |q| %>

<table>
  <tr>
    <td>Item: <%= q.description %></td>
    <td>		
      <%= radio_button_tag("spaceship[#{q.id}]", "Yes", (@response.answers_hash["#{q.id}"] == "Yes")) %>
      <%= label_tag(:answers_hash, "Yes") %>
    </td>
    <td>
      <%= radio_button_tag("spaceship[#{q.id}]", "No", (@response.answers_hash["#{q.id}"]== "No")) %>
      <%= label_tag(:answers_hash, "No") %>
    </td>
    <td>
      <%= radio_button_tag("spaceship[#{q.id}]", "In Progress", (@response.answers_hash["#{q.id}"]== "In Progress")) %>
      <%= label_tag(:answers_hash, "In Progress") %>
    </td>
  </tr>
</table>

		  
	
<% end %>
<% end %>

	
<%= f.submit %>
		
<%end%>
	




