<h1>Responses#edit</h1>


<%= @response.answers_hash %>


	<%= form_for @response do |f| %>

		<% @checklist.questions.each do |c| %>
			<% if c.priority == "Required" %>
				<p>
					<h2>REQUIRED:</h2>
					<table>
					  <tr>
					    <td>Item: <%= c.description %></td>
							<td>		
								<%= radio_button_tag("spaceship[#{c.id}]", "Yes", (@response.answers_hash["#{c.id}"] == "Yes")) %>
								<%= label_tag(:answers_hash, "Yes") %>
							</td>
							<td>
								<%= radio_button_tag("spaceship[#{c.id}]", "No", (@response.answers_hash["#{c.id}"]== "No")) %>
								<%= label_tag(:answers_hash, "No") %>
							</td>
							<td>
								<%= radio_button_tag("spaceship[#{c.id}]", "In Progress", (@response.answers_hash["#{c.id}"]== "In Progress")) %>
								<%= label_tag(:answers_hash, "In Progress") %>
							</td>
					  </tr>
					</table>
				</p>
			<% elsif c.priority == "Strongly Recommended"%>
				<p>
					<h2>STRONGLY RECOMMENDED:</h2>
					<table>
					  <tr>
					    <td>Item: <%= c.description %></td>
							<td>		
								<%= radio_button_tag("spaceship[#{c.id}]", "Yes", (@response.answers_hash["#{c.id}"] == "Yes")) %>
								<%= label_tag(:answers_hash, "Yes") %>
							</td>
							<td>
								<%= radio_button_tag("spaceship[#{c.id}]", "No", (@response.answers_hash["#{c.id}"]== "No")) %>
								<%= label_tag(:answers_hash, "No") %>
							</td>
							<td>
								<%= radio_button_tag("spaceship[#{c.id}]", "In Progress", (@response.answers_hash["#{c.id}"]== "In Progress")) %>
								<%= label_tag(:answers_hash, "In Progress") %>
							</td>
					  </tr>
					</table>
				</p>
			<% elsif c.priority == "Recommended" %>
				<p>
					<h2>RECOMMENDED:</h2>
					<table>
					  <tr>
					    <td>Item: <%= c.description %></td>
							<td>		
								<%= radio_button_tag("spaceship[#{c.id}]", "Yes", (@response.answers_hash["#{c.id}"] == "Yes")) %>
								<%= label_tag(:answers_hash, "Yes") %>
							</td>
							<td>
								<%= radio_button_tag("spaceship[#{c.id}]", "No", (@response.answers_hash["#{c.id}"] == "No")) %>
								<%= label_tag(:answers_hash, "No") %>
							</td>
							<td>
								<td>
									<%= radio_button_tag("spaceship[#{c.id}]", "In Progress", (@response.answers_hash["#{c.id}"] == "In Progress")) %>
									<%= label_tag(:answers_hash, "In Progress") %>
								</td>
					  </tr>
					</table>
				</p>
			<% else %>
			<% end %>

		<% end %>
	
		<%= f.submit %>
		
	<%end%>
	




