<% if current_user == nil %>
<% elsif current_user.admin %>
<h1>Checklists</h1>
<% @checklists.each do |c|%>
  <p>
    <%= link_to c.name, checklist_path(c.id) %>----<%= link_to 'Edit', edit_checklist_path(c.id) %> ----
			<% if c.name ==nil%>
			<% else %> 
				<%= link_to 'Delete', checklist_path(c.id), :action => :post, :method => :delete %>
			<% end %>
  </p>
  <br>
  <br>
<% end %>
  <h3><%= link_to "New Checklist", new_checklist_path %></h3>

<% else %>
<h1>Click a checklist to fill out!</h1>
  <% @checklists.each do |c|%>
	<p>
  	<%= link_to c.name, edit_response_path(c.id), id: c.id %>
	</p>
<% end %>

<% end %>
