<%= form_for @checklist, remote: true do |f| %>


<%= f.label :name %>
<%= f.text_field :name %>
<br>
    <%= f.fields_for :questions do |builder| %>
  <p>
      <%= builder.label :Question_text %>
      <%= builder.text_area :description %>
    
     
      <%= builder.select(:priority, options_for_select([['Required', 'Required'], ['Strongly Recommended', 'Strongly Recommended'],['Recommended','Recommended']]), :prompt => "Priority") %>
      
      <div class = "question_form"></div>
      
      <% end %>
</p>

  
<%= link_to "Add Question", new_question_path, remote: true %>
  <%= f.submit %>

  <% end %>